/*universal Part */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Body and html part */

body html{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 1350px;
}


.section{
    padding: 70px 0;
}

/*Hero-Navbar Section start */

.hero-section {
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: auto;
  height: 650px;
  color: rgb(37, 36, 50);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: rgb(78, 71, 255);
  font-weight: 900;
  font-size: 40px;
  padding: 5px 10px;
  border-radius: 5px;
}


.nav-button {
  background-color: rgb(78, 71, 255);;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.nav-button:hover{
    background-color: #106032;
    transition: #106032 0.3s ease;
}



.hero-content {
  text-align: center;
  margin-top: auto;
  margin-bottom: 100px;
}

.hero-content h1 {
  font-size: 65px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  margin-bottom: 30px;
  line-height: 76px;
  letter-spacing: 0;
}


.hero-button {
  background-color: rgb(78, 71, 255);;
  color: white;
  padding: 12px 30px;
  border: none;
  gap: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.hero-button:hover{
    background-color: #106032;
    transition: #106032 0.3s ease;
}

/*Hero-Navbar Section End */




/* Action Section start */

.action-section {
  background-color: rgb(255, 255, 255);
  padding: 60px 20px;
  margin-bottom: 60px; /* gap between sections */
}

.action-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.left-content {
  flex: 1;
  min-width: 280px;
  gap: 20px;
}

.left-content h2 {
  font-size: 42px;
  color: #111827;
  font-weight: 700;
  margin-bottom: 20px;
}

.left-content p {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.preview-button {
  background-color: rgb(78, 71, 255);
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight:700;
  transition: background-color 0.3s ease;
}

.preview-button:hover {
  background-color: #106032;
    transition: #106032 0.3s ease;
}

.right-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-image img {
  max-width: 100%;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(7, 7, 7, 0.15);
}


/* Action Section End */


/* Productive Users Section Start */
.users-section {
  background-color: rgb(255, 255, 255);
  padding: 60px 20px;
}

.users-content {
  background-color: #dadbdd;
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.users-content h2 {
  font-size: 45px;
  color: rgb(37, 36, 50);
  font-weight: 700;
  margin-bottom: 30px;
  gap : 30px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

.stat-box h3 {
  font-size: 40px;
  color: rgb(78, 71, 255);
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 6px;
}

.stat-box p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

/* Productive Users Section Ends */


/* Users  feedback section start */
.feedback-section {
  background-color: rgb(255, 255, 255);
  padding: 70px;
}

.feedback-title {
  text-align: center;
  font-size: 42px;
  color: rgb(37, 36, 50);
  font-weight: 700;
  margin-bottom: 50px;
}

.feedback-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.feedback-card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  width: 30%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}

.stars {
  color: #fbbf24; /* Golden yellow */
  font-size: 18px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
  color: rgb(30, 30, 30);
  font-weight: 700;
  margin-bottom: 5px;
}

.card-text {
  font-size: 16px;
  color: rgb(30, 30, 30);
  margin-bottom: 20px;
}

.reviewer {
  display: flex;
  align-items: center;
}

.reviewer-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.reviewer-info {
  display: flex;
  flex-direction: column;
}

.reviewer-name {
  font-size: 18px;
  font-weight: 700;
  color: rgb(91, 91, 91);
}

.reviewer-date {
  font-size: 15px;
  font-weight: 600;
  color: rgb(91, 91, 91);
}


/* Users  feedback section end */


/* Focus section */

.focus-section {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  border-radius: 14px;
  
}

.focus-section .container {
  max-width: 900px;
  margin: 0 auto;
}

.section-title {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 30px;
  margin-right: 70px;
  margin-bottom: 16px;
}

.section-subtitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 32px;
text-align: center;}

.cta-button {
  display: inline-block;
  background-color: rgb(78, 71, 255);
  color: #fffbfb;
  padding: 12px 23px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}

.cta-button:hover {
   background-color: #106032;
   transition: #106032 0.3s ease;
}

.focus-image {
  display: flex;
  justify-content: center;
}

.focus-image img {
  width: 100%;
  max-width: 720px;
  border-radius: 24px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

/* Focus section end */


/* contact section start */

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 25%;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 14px;
}

.contact-left {
  width: 50%;
  margin: 0 auto;
}

.contact-left h1 {
  font-size: 80px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
}

.contact-right {
  width: 50%;

}

.contact-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
}

.contact-form input,
.contact-form textarea {
  width: 50%;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 3px solid #e3e3e3;
  border-radius: 10px;
  font-size: 18px;
}

.contact-form textarea {
  resize:horizontal;
  height: 50px;
}

.contact-form button {
  background-color: rgb(78, 71, 255);
  color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  margin: 0 auto;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;

}


.contact-form button:hover{
  background-color: #106032;
  transition: #106032 0.5s ease-in-out;
}

/* contact section end */


/* Footer Section start */

.footer {
  text-align: center;
  padding: 70px 20px;
  background-color: rgb(255, 255, 255);
}

.footer h2 {
  color: rgb(78, 71, 255);
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 10px;
}

.footer p {
  color: rgb(137, 135, 161);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.footer nav a {
  margin: 0 10px;
  color: rgb(137, 135, 161);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 5px;
}

.footer nav a:hover {
  text-decoration: underline ;
   background-color: #0d291a;
   transition: #0a512d 0.3s ease-in-out;
}


/* Footer Section end */